* {
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    box-sizing: border-box;
}

.big-container {
    width: 80vw;
    margin: auto;
    height: 100vh;
    /* border: 3px solid blue; */

}

.heading {
    margin: 30px 0px;
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
}

#professionInp {
    width: 120px;
    padding: 10px;
    border-radius: 4px;
}

option {
    display: inline-block;
    padding: 10px;
}

.data-container {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
    align-items: flex-start;
    
}

.data {
    border: 3px solid white;
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-between; */
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    /* max-width: 400px; */

}

#fliter-btn {
    background-color: white;
    color: black;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    margin: 20px 0px;
    border: none;
font-size: 16px;
}

.input-three {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;

}

.input_ {
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    flex-grow: 1;
}

.input-three input,select {
    padding: 10px 0px 10px 5px;

    border-radius: 5px;
    outline: none;
    border: 3px solid white;

}

#add-user-btn{
    background-color: white;
    color: black;
    width: 100px;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
font-size: 16px;

}

@media (max-width:450px)
{
    .big-container{
    width: 90vw;
    height: 100vh;


    }
}